[submodule "xed"]
	path = xed
	url = https://github.com/intelxed/xed.git
[submodule "floatzone-llvm-project"]
	path = floatzone-llvm-project
	url = https://github.com/vusec/floatzone-llvm-project.git
[submodule "mbuild"]
	path = mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "instrumentation-infra"]
	path = instrumentation-infra
	url = https://github.com/vusec/instrumentation-infra.git
